/* body.role-musician .page-title-action, */
body.role-musician #postdivrich,
body.role-musician #minor-publishing-actions,
/* body.role-musician #save-post, */
body.role-musician #collapse-menu,
body.role-musician #wpfooter,
body.role-musician #notice,
body.role-musician #wpfooter,
body.role-musician #screen-meta-links,
body.role-musician #screen-meta,
body.role-musician #menu-item-zipwpimages,
body.role-musician #musician_details .handle-actions {
  display: none !important;
}

/* Default Profile PAge */
form#your-profile h2,
.form-table .user-rich-editing-wrap,
.form-table .user-syntax-highlighting-wrap,
.form-table .user-admin-color-wrap,
.form-table .user-comment-shortcuts-wrap,
.form-table .show-admin-bar,
.form-table .user-language-wrap,
.form-table .user-description-wrap,
.form-table .user-profile-picture,
#application-passwords-section {
  display: none !important;
}

body.role-musician #publishing-action {
  float: unset;
  position: fixed;
  bottom: 0;
  padding: 10px 20px;
  background-color: #c7d2d9;
  width: -webkit-fill-available;
  left: 160px;
  z-index: 100;
}

.deia-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.deia-form .row {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.deia-form .row label {
  font-weight: bold;
}

.deia-form .row input.error {
  border: 1px solid red;
}

.deia-form .row label.error {
  color: red;
  font-weight: normal;
}

.deia-list-block {
  margin: 20px 0 0 0;
  padding: 0;
  border: 1px solid #c3c4c7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.deia-list-block ul {
  margin: 0;
  padding: 0;
}

.deia-list-block ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #646970;
  padding: 8px 12px;
  margin: 0;
}

.deia-list-block ul li a {
  flex: 1 1 auto;
  text-decoration: none;
}

.deia-list-block ul li:nth-child(odd) {
  background-color: #f6f7f7;
}

/* #poststuff #post-body.columns-2 {
  margin-right: unset;
} */
